@tailwind base;
@tailwind components;
@tailwind utilities;

        body {
            font-family: "Public Sans", sans-serif;
        }

.form-input {
    border-width: 1px;
    border-style: solid;
}
        .form-input:focus {
            border-color: #0020E6;
            ring: 0;
        }
        .payment-card:hover {
            border-color: #0020E6;
            background-color: rgba(0, 32, 230, 0.05);
        }
        /* Profile background positioning to center head better */
        .profile-bg {
  background-image: url("../../Imagen1.png");
            background-position: center 24%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media (max-width: 768px) {
            .profile-bg {
  background-image: url("../../Imagen1.png");
                background-position: center 14%;
            }
        }
    